


script(type='text/javascript', src='js/lib.min.js')
script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNAljGFFDKq6W69dSVoW52nEhHtQ8nV78")
script(type='text/javascript', src='js/main.js')
