meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
title Главная
link(rel='icon', type="image/x-icon", href='images/favicon/favicon.ico')
link(rel='stylesheet', type='text/css', href='css/main.min.css')


