doctype html
html.js(lang="en")
  head
    include _head

  body.main-page.loaded
    //body.main-page.show-control-form
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href="https://artjoker.ua/ru/blog/how-to-enable-javascript/" target="_blank") инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')

    // wrapper start
    .wrapper
      // header SECTION
      main.main
        section.comments
          .container
            .comments__manager
              .comments__manager-img
                img(src='assets/images/manager-img.png', alt='')
              .comments__manager-cont
                .comments__manager-name Вероника Ростова
                .comments__manager-pos Менеджер по продажам
                .comments__manager-text Подберу для вас самые лучшие предложения. Мои услуги абсолютно бесплатны
            .services
              .services__title Услуг
              .services-list
                .services-list__item
                  .services-list__part.services-list__part_inner(style='width:69%')
                  .services-list__text Ручное бронирование
                  .services-list__num 11
                .services-list__item
                  .services-list__part(style='width:17%')
                  .services-list__text Пакетные туры
                  .services-list__num 3
                .services-list__item
                  .services-list__part(style='width:11%')
                  .services-list__text Отели
                  .services-list__num 1
              .services-list__item.services-list__item_total
                .services-list__text Всего
                .services-list__num 15
            .reviews.flex-wrap
              .reviews__text.col-item
                .reviews__title Последние отзывы
                a.reviews__link(href='#') Все отзывы
              .col-item
                .reviews__quantity-wrap
                  .reviews__quantity
                    span.reviews__quantity-ic
                      img(src='images/ic-1.png', alt='')
                    span.reviews__quantity-text 131
                  .reviews__quantity
                    span.reviews__quantity-ic
                      img(src='images/ic-2.png', alt='')
                    span.reviews__quantity-text 14
            .comments-block
              .comments-list
                .comments-list__item
                  .comments-list__item-top
                    .comments-list__author Самуил
                    .comments-list__date 13 октября 2011
                  .comments-list__cont Привет, Верунь! ниче себе ты крутая. фотка класс!!!!
                .comments-list__item
                  .comments-list__item-top
                    .comments-list__author Лилия Семёновна
                    .comments-list__date 14 октября 2011
                  .comments-list__cont Вероника, здравствуйте! Есть такой вопрос: Особый вид куниц жизненно стабилизирует кинетический момент, это и есть всемирно известный центр огранки алмазов и торговли бриллиантами?
              .comments-form
                form(action='', class='js_validate')
                  .input-group(data-error="Пожалуйста, заполните это поле")
                    textarea.js-get-val(rows="2", cols="10", required)
                  .btn-wrap
                    button(type='submit').btn.js-add-comment Написать консультанту



      // header SECTION



    include _footer-include

