a {
  @include anim;
  color: $default-color;
  &:hover, &:focus {
    color: $primary-color;
  }
}
b,strong {font-weight: normal;@include fb;}
*,*:after,*:before {
  box-sizing:border-box !important;
  outline: none !important;
}
.clearfix:before,.container:before,
.clearfix:after,.container:after {
  display: table;
  content: " ";
}
.clearfix:after,.container:after {
  clear: both;
}
.desktop ::-webkit-scrollbar { width: 5px; }
/*.desktop ::-webkit-scrollbar:horizontal { height: 5px; }*/
.desktop ::-webkit-scrollbar-thumb { width: 5px; border-color: $primary-color; background-color: $primary-color;}
.desktop ::-webkit-scrollbar-thumb:hover { border-width: 1px 1px 1px 2px; border-color: $primary-color; background-color: $primary-color; }
.desktop ::-webkit-scrollbar-track { border-width: 0; }
.desktop ::-webkit-scrollbar-track-piece { background: #F6F6F6; }
body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: $base-font-family;
  background-color: $base-color;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: $base-font-size!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-color;
  @include respond-to(max-xs-767) {
    font-size: 14px!important;
  }
}
body.noscroll {overflow: hidden;}
noscript{
  position: fixed;
  top: 0;
  background: #fff;
  font-size: 14px;
  width: 100%;
  z-index: 9999999;
  text-align: center;
}
noscript a{
  color: red;
  text-decoration: underline;
}
noscript a:hover{
  text-decoration: none;
}

input,textarea{
  box-shadow:none;
  -webkit-box-shadow:none;
  -webkit-border-radius:0;
  border-radius:0;
  -webkit-appearance:none;
}
.wrapper {
  min-width: 360px;
  width: 100%;
  max-width: 100%;
  position: relative;
  min-height:100%;
  overflow: hidden;
}
.container {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 20px;
}
.main {
  min-width: 360px;
  text-align:left;
  width: 100%;
}
.flex-wrap {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
}
.col-item {
  padding-left: 15px;
  padding-right: 15px;
}
h1, h2, h3, h4, h5 {
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #242424;
  @include fb;
  @include respond-to(max-xs-767) {
    margin-top: 30px;
  }
}
h1 {
  font-size: 40px;
  @include respond-to(max-xs-767) {
    font-size: 22px;
  }
}
h2 {
  font-size: 34px;
  @include respond-to(max-xs-767) {
    font-size: 20px;
  }
}
h3 {
  font-size: 24px;
  @include respond-to(max-xs-767) {
    font-size: 18px;
  }
}
h4 {
  font-size: 20px;
  @include respond-to(max-xs-767) {
    font-size: 18px;
  }
}
h5 {
  font-size: 18px;
  @include respond-to(max-xs-767) {
    font-size: 16px;
  }
}
ul {
  list-style: disc;
}
.btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: #fdd639;
  border:none;
  line-height: 1;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  padding: 13px 60px;
  @include fb;
  @include anim;
  &:hover, &:focus {
    background-color: $primary-color;
    color: $base-color;
  }
  &-wrap {
    text-align: center;
  }
}
img {
  display: block;
  max-width: 100%;
}
p {
  line-height: 1.7;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.input-group {
  margin-bottom: 23px;
  position: relative;
  textarea {
    color: $default-color;
    font-size: 16px;
    padding: 15px;
    background: #ffffff;
    font-family: $base-font-family;
    border: 1px solid #999999;
    width: 100%;
    border-radius: 2px;
    height: 64px;
    @include anim;
    &:focus {
      border-color: $primary-color;
    }
  }
  &.error {
    input, textarea {
      border-color: red;
    }
    &:after {
      content: attr(data-error);
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 1px;
      line-height: 1.2;
      color: red;
      font-size: 12px;
    }
  }
}

button {
  border: none;
  background: none;
  padding: 0;
}