.comments {
  &__manager {
    display: flex;
    padding-top: 16px;
    @include respond-to(max-xs-500) {
      align-items: flex-end;
    }
    &-img {
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      @include respond-to(max-xs-500) {
        width: 100px;
        height: 100px;
      }
    }
    &-cont {
      width: calc(100% - 120px);
      padding-left: 10px;
      line-height: 1.4;
      padding-bottom: 10px;
      padding-top: 6px;
      @include respond-to(max-xs-500) {
        width: calc(100% - 100px);
      }
    }
    &-name {
      @include fb;
      font-size: 16px;
      margin-bottom: 2px;
    }
    &-pos {
      color: #999999;
      font-size: 12px;
      margin-bottom: 6px;
    }
    &-text {
      background: #ffffcc;
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 8px 10px 8px 50px;
      margin-left: -50px;
    }
  }
}
.services {
  margin-bottom: 18px;
  @include respond-to(xs-501) {
    margin-left: 130px;
  }
  &__title {
    text-align: right;
    line-height: 1.3;
    padding-right: 33px;
    padding-bottom: 6px;
  }
}
.services-list {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 8px;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 17px;
    top: 15px;
    background: $default-color;
    left: 0;
    width: 1px;
    opacity: .3;
    z-index: 1;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2px;
    font-size: 13px;
    position: relative;
    line-height: 1.3;
    padding-top: 4px;
    padding-bottom: 4px;
    &_total {
      font-size: 16px;
      @include fb;
      .services-list__text {
        padding-left: 0;
      }
    }
  }
  &__part {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #99ccff;
    border-radius: 0 2px 2px 0;
    &_inner {
      background: #99cc99;
    }
  }
  &__text, &__num {
    position: relative;
    z-index: 1;
  }
  &__text {
    padding-left: 7px;
  }
  &__num {
    @include fb;
    padding-right: 43px;
  }
}
.reviews {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  line-height: 1.2;
  &__title {
    display: inline-block;
    @include fb;
    font-size: 16px;
    padding-right: 10px;
  }
  &__link {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  &__quantity {
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    &, &-wrap {
      display: flex;
    }
    &-wrap {
      margin-left: -10px;
      margin-right: -10px;
    }
    &-text {
      font-size: 12px;
    }
    &-ic {
      margin-right: 4px;
      width: 13px;
    }
  }
  &__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
.comments-list {
  &__item {
    line-height: 1.4;
    margin-bottom: 18px;
    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }
  &__author {
    @include fb;
    padding-right: 8px;
  }
  &__date {
    color: #999;
    font-size: 11px;
  }
  &__cont {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    background: #f2fbff;
    border: 1px solid #cfcfcf;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      z-index: 1;
      left: 22px;
      background: url("../images/coment-el.png") no-repeat;
      width: 9px;
      height: 10px;
    }
  }
}
.comments-form {
  background: #f2f2f2;
  padding: 30px 20px 35px;
  margin-left: -20px;
  margin-right: -20px;
}
.comments-block {

}